@import "./reset.css";
@import "./variables.css";
@import "./typography.css";
@import "./animations.css";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container{

    width:min(92%, var(--container));

    margin:auto;

}

section{

    padding:120px 0;

}