*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    display:block;
    width:100%;
}

button,
input,
textarea{
    font:inherit;
}

ul{
    list-style:none;
}